/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color:var(--light-blue);
}

.footer a {
    color: #222;
    margin:0.5em;
}

.footer .social {
    font-size: 2rem;
    margin-top:0.5em;
}