
* {
    font-family: 'Source Serif Pro', serif;
}

h1,

h2,

h3,

h4,

h5,

h6 {
    font-family: 'Lora', serif;
    margin: 0.5em;
    font-weight: bold;
    font-size: 2em;
}

html {
    font-size: 100%;
}

p {
    font-size: $base-font-size;
    margin-bottom: $spacing;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

body {
    line-height: $base-line-height;
    color: $font-color;
}

p,

td,

th,

li,

dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 1em;
}

.title * {
    color: $default-black;
}

.title p {
    font-style: italic;
}
