$font-color: #444;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #cee8f7;
$background-alternative-color: #e0fbfc;
$bar-background-color: #79acc8;
$base-line-height: 1.4;
$base-font-size: 1em;
$black-thin-border: 1px solid #222;
$grey-thick-border: 2px solid #ccc;
$default-white: rgb(247, 243, 243);
$default-black: rgb(5, 5, 5);
$spacing: $base-line-height * $base-font-size;
