{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="infopage">
            <div class="info">
            {{ content }}
            </div>
            <div class = "sidebar">
                    <ul>
                        {% for page in pages("technology") %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>